extends layout
block page
  - var menu = 'room'
block extraHeader
  script(type='text/javascript', src='js/easyrtc.js')
  script(type='text/javascript', src='js/alertify.min.js')
  script(type='text/javascript', src='js/room.js')
  script(type='text/javascript', src='js/socket.io.js')
  link(rel='stylesheet', href="css/alertify.css")
block content

  | Hi #{user.email}, Do you want to find someone to chat ?   

  table
      tr
        td
          - var userName = user.email
          button#btnFindRoom(onclick='checkRoom("#{userName}")') Find Room                     
          button#hangupButton(disabled='disabled', onclick='hangup()') Hangup
      |         
      tr
        td
          #name
        |             
        td
          #room
          #numberPersons
          #status
      |         
      tr
        td
          | My webcam :
        |             
        td
          | Caller webcam :
      |         
      tr
        td
          video#selfVideo.easyrtcMirror(autoplay='autoplay', muted='muted', volume='0')
        |             
        td
          video#callerVideo(autoplay='autoplay')
